<mat-card>
    <mat-card-header>
        <mat-card-title>Estatus de Ventas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="f-w-500 f-s-16 m-4">Detalles de Ventas del dia.</p>
        <div class="banner1">
            <div class="status">
                <div class="status-banner">
                    <span class="number">{{ totalBookings }}</span>
                    <span class="label">Total de Rentas</span>
                </div>
                <div class="status-banner">
                    <span class="number">{{ checkedIn }}</span>
                    <span class="label">Total de Ventas</span>
                </div>
                <div class="status-banner">
                    <span class="number">{{ checkedOut }}</span>
                    <span class="label">Clases Particulares</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>